---
layout: default
title: Home
---

<!-- ========== BIO ========== -->
<div class="docs-section" id="bio">
  <h4>Bio</h4>

  
  <p>I am an Associate Professor with the <a href="https://www.engineering.cornell.edu/ece/">Department of Electrical and Computer Engineering</a> and <a href="https://tech.cornell.edu/">Cornell Tech</a> at Cornell University. I am currently on leave from the <a href="https://www.ecse.rpi.edu/">Department of Electrical, Computer, and Systems Engineering</a> at Rensselaer Polytechnic Institute (RPI), where I joined as an Assistant Professor in 2019 and was then promoted to Associate Professor with tenure in 2025. Prior to joining RPI, I received my doctoral degree from the University of Minnesota under the supervision of Prof. Georgios B. Giannakis.   
  Prior to coming to the United States, I got my B.Sc. from Fudan University with the highest honors in 2014. </p> 
  <p>Dr. Chen is the inaugural recipient of the <a href="https://cse.umn.edu/ece/feature-stories/alumnus-tianyi-chen-receives-ieee-sps-best-dissertation-award">IEEE Signal Processing Society Best PhD Dissertation Award</a> in 2020, a recipient of the <a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=2047177&HistoricalAwards=false">NSF CAREER Award</a> in 2021, and a recipient of the <a href="https://www.amazon.science/research-awards/program-updates/fall-2021-and-winter-2022-amazon-research-awards-recipients-announced">Amazon Research Award</a> in 2022. 
    He is also a co-author of the Best Student Paper Award at the NeurIPS Federated Learning Workshop in 2020, the IEEE ICASSP Conference in 2021, and the <a href="https://signalprocessingsociety.org/community-involvement/award-recipients/">IEEE Signal Processing Society Young Author Best Paper Award</a> in 2024.</p>   
</div>

<!-- ========== PUBLICATIONS ========== -->
<div class="docs-section" id="publications">
  <h4>Publications</h4>

  <p style="font-size: 20px;"><b>Most recent publications on <a href="{{ site.data.main_info.google_scholar }}" target="_blank">Google Scholar</a><span onclick="window.open('{{ site.data.main_info.google_scholar }}')" style="cursor: pointer">
                <i class="ai ai-google-scholar ai-lg" style="font-size: 20px; padding-top: 10px" aria-hidden="true"></i></span>.</b>
  </p>

  <ul class="tab-nav">
    <li><div class="button active" data-ref="#papers-selected">Highlighted</div></li>
    <li><div class="button" data-ref="#papers-recent">Recent</div></li>
    <li><div class="button" data-ref="#papers-all">All</div></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="papers-selected">
      {% assign selected_papers = site.data.publications.papers | where: "selected", "y" %}
      {% for paper in selected_papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b></p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
          <p>{{ paper.note }}</p>
           <div class="paper-buttons">
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
            {% endif %}

            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}

            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}

            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}

            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}

            {% if paper.talk %}
              <a class="button" href="{{ paper.talk }}" target="_blank">Talk</a>
            {% endif %}

            {% if paper.data %}
              <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
            {% endif %}

          </div>
        </div>
      {% endfor %}
    </div>

   <div class="tab-pane" id="papers-recent">
      {% assign recent_papers = site.data.publications.papers | where: "recent", "y" %}
      {% for paper in recent_papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b></p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
          <p>{{ paper.note }}</p>
           <div class="paper-buttons">
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
            {% endif %}

            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}

            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}

            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}

            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}

            {% if paper.talk %}
              <a class="button" href="{{ paper.talk }}" target="_blank">Talk</a>
            {% endif %}

            {% if paper.data %}
              <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
            {% endif %}

          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<!-- ========== PEOPLE ========== -->
<div class="docs-section" id="Instructors and TAs">  
  <h4>People</h4>
<!-- ========== Current ========== -->  
<div class="tab-content">
<div id="member-container">
<style>
    .box {
        display: inline-block; /* Make divs inline */
        width: 30%; /* Set the width */
        padding: 10px;
        border: 1px solid #ccc;
        text-align: center;
        vertical-align: top; /* Align them properly */
        margin: 10px auto;
    }
</style>
  
<div class="tab-pane active" id="people-current">
<div id="member" class="box" >
<img src="assets/people/zhaoxianwu.jpg" style="width: 120px; height: 200px; object-fit: cover; border-radius: 10%;">
<p>
<b><a href="https://zhaoxian-wu.github.io/">Zhaoxian Wu</a></b> 
<a href="https://scholar.google.com/citations?user=Hyk4lXJy4CEC&hl=en"><i class="ai ai-google-scholar ai-2x" style="font-size:20px; color:#14003a"></i></a> </br>        
2023 Fall - present</br>
M.S. Sun Yat-sen University</br>
B.S. Sun Yat-sen University, Guangzhou, China 
</p>
</div>  
</div>

</div>
</div>
</div>

 

<!-- ========== Acknowledgments ========== -->
<div class="docs-section" id="sponsors">  
  <h4>Acknowledgments</h4>
  <p>
Acknowledgment: National Science Foundation (CAREER-2047177, ECCS 2412486, SCALE-MODL 2134168/2401297), Amazon Research Award (AWS AI),
IBM AI Horizons, Cisco Research, Nvidia, IEEE Signal Processing Society 
  </p> 
<div style="display: flex; flex-wrap: wrap; justify-content: center; gap: 20px; margin-top: 15px;">
    <img src="assets/fund1.jpg" style="width: 250px; max-width: 100%;">
    <img src="assets/fund2.jpg" style="width: 250px; max-width: 100%;">
    <img src="assets/fund3.jpg" style="width: 250px; max-width: 100%;">
  </div> 
      <div class="row">
      This website is based on a template by <a href="https://faculty.washington.edu/msaveski/">Martin Saveski</a> and <a href="https://mmoorr.github.io/www_personal/">Mor Naaman</a>.
      </div>  
</div>


